<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CSVアップロード</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <h1>CSVファイルで商品を一括登録</h1>
    <form th:action="@{/items/upload}" method="post" enctype="multipart/form-data">
        <p>
            CSVファイルを選択：<input type="file" name="file" accept=".csv" required />
        </p>
        <p>
            <button type="submit">アップロード</button>
        </p>
    </form>
    <p><a th:href="@{/items}">商品一覧に戻る</a></p>
</body>
</html>